@import "./style.scss";

.login__container {
  margin-left: 25px;
  max-width: 350px;
}


.login_field__container {

  h3 {
    margin: 15px 0px;
  }

  input {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    padding: 10px 0px;
    color: $font-light;
    border-bottom: 1px solid lighten($font-dark, 30%);
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}

#login__buttons {
  margin: 15px 0px;
}

.login__error {
  color: lighten(red, 15%);
  font-size: 1rem;
  font-style: italic;
  margin: 5px 0px;
}

.login__error_large {
  font-size: 1.3rem;
  text-align: center;
}

.login_success__container {
  text-align: center;
}